/* .expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25, green, blue, alpha);
    background-color: rgba(75,75,75, 1.0)
}
#date {
    color: rgba(169, 197, 10, 0.8);
}

.expense-item_description {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    flex-flow: column-reverse;
}


.expense-item_price {
    justify-content: right;
    font-size: 30px;
    padding: 5px 20px;
    margin-left: 15%;
    color: rgba(103, 240, 235, 0.8);
    
}

#title {
    font-weight: 700;
    color: rgba(191, 25, 25 0.8);
    color: rgba(71, 146, 245, 0.8);
    
}
#data {
    display: inline-block;
}

@keyframes span {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
} */