/* .card {
    display: inline-block !important;
    background-color: rgb(147, 133, 196) !important;
    margin-top: 5vw;
    margin-left: 5%;
    width: 25vw !important;
    height: 25vh !important;
    
} */


/* .card:hover {
    background-color: rgb(245, 121, 142) !important;
    transform: scale(1.05); 
    
} */

.home {
    width: 100vw !important;
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1702659610398-58d3fb3f65f2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.home .card{
    background-color: #ccf0ee;
    min-height: 200px !important;
}
.home .card:hover{
    background-color: #eec7e4;
    transform: scale(1.1);
}

.plans{
    width: 100vw !important;
    height: fit-content !important;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}
.editbtn {
    margin-left: 5px;
}

.editbtn:hover {
    background-color: rgb(221, 190, 11);
}

/* .addbtn {
    margin:1% 1% 0px 3px !important;
    float: right;
} 
.content {
    height: 100%;
}

.title {
    margin-top: auto !important;
}

.inputarea{
    margin-bottom: 2px !important;
}
.emailarea {
    margin-bottom: 2px !important;
}

/* .inputs{
    margin-top: 5px;
} */
.fields{
    height: 20px !important;
}

.error{
    color: red;
}

.my-swal {
    z-index: 300000 !important;
}

.field {
    margin-top: auto;
    /* text-align: center; */
    width: 95% !important;
    height: 50px !important ;
    
}

.muifield {
    width: 100%;
    
    /* text-align: center; */
}
.button{
    margin-top: 10px;
}

.methods {
    margin-bottom: 2%;
    margin-top: 2%;
    width: 90%;
    height: 100px;
}

label{
    margin-bottom: 2%;
    margin-top: 2%;
}